* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.romantic-page {
  min-height: 100vh;
  background-image: url("/fondo2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}
.romantic-page::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

.content {
  position: relative;
  z-index: 1;
  padding: 80px 20px;
  text-align: center;
  color: white;
}

.section {
  margin-bottom: 120px;
}

.cover {
  width: 300px;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.7);
}

audio {
  width: 300px;
  margin-top: 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.gallery img {
  width: 250px;
  border-radius: 15px;
  transition: transform 0.3s;
}

.gallery img:hover {
  transform: scale(1.05);
}

.buttons {
  margin-top: 30px;
}

.yes {
  background: white;
  color: #4a0f2d;
  border: none;
  padding: 12px 20px;
  border-radius: 30px;
  margin: 10px;
  cursor: pointer;
  font-weight: bold;
}

.talk {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 12px 20px;
  border-radius: 30px;
  margin: 10px;
  cursor: pointer;
}
